<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>Lista de Presença</display-name>
    <description>
      Versão 1.0 
    </description>

	<!-- register computer servlet -->
	<servlet>
      <servlet-name>registercomputer</servlet-name>
      <servlet-class>com.citrait.listapresenca.RegisterComputerServlet</servlet-class>
      <load-on-startup>3</load-on-startup>
  </servlet>
	<servlet-mapping>
      <servlet-name>registercomputer</servlet-name>
      <url-pattern>/register</url-pattern>
    </servlet-mapping>


    <!-- DEFAULT ADMIN PASSWORD -->
    <context-param>
      <param-name>DefaultAdminPassword</param-name>
      <param-value>71aZG0b%oC@grostmZ</param-value>
      <description>Senha padrão para o usuário admin.</description>
    </context-param>

    <!-- SQLITE DATABASE NAME -->
    <context-param>
      <param-name>DatabaseName</param-name>
      <param-value>listapresenca.db</param-value>
      <description>Nome do banco de dados</description>
    </context-param>


</web-app>